<div class="weather-container" *ngIf="weatherData">
    <div class="weather-field">
        <div class="weather-box-one">
            <div class="info-container">
                <div class="title">Tuesday</div>
                <div class="date">{{this.weatherData.current_weather.time}}</div>
                <div class="location-box">
                    <div class="location-icon">
                        <span style="font-size: 35px;" class="material-symbols-outlined">location_on</span></div>
                    <div class="location">Düsseldorf</div>
                </div>
               
            </div>
            <div class="content-container">
                <div class="weather-icon"><span style="font-size: 70px;" class="material-symbols-outlined">wb_sunny</span></div>
                <div class="weather-degree"></div>{{this.weatherData.current_weather.temperature}}°C
                <div class="weather-info">Sunny</div>
            </div>
        </div>
        <div class="weather-box-two">
                <div class="information-container">
                    <div class="information-box">
                        <div class="title">PRECIPITATION</div>
                        <div class="date">HUMIDITY</div>
                        <div class="location">WIND</div>
                    </div>
                    <div class="information-box">
                        <div class="title">0%</div>
                        <div class="date">42%</div>
                        <div class="location">{{this.weatherData.current_weather.windspeed}} km/h</div>
                    </div>
                </div>
                <div class="weather-prospects">
                    <div class="weather-prospects-box-one">
                        <div class="weather-icon"><span class="material-symbols-outlined icon-size">partly_cloudy_day</span></div>
                        <div class="weather-day">Tue</div>
                        <div class="weather-degree">29°C</div>
                    </div>
                    <div class="weather-prospects-box-two">
                        <div class="weather-icon"><span class="material-symbols-outlined icon-size">partly_cloudy_day</span></div>
                        <div class="weather-day">Tue</div>
                        <div class="weather-degree">29°C</div>
                    </div>
                    <div class="weather-prospects-box-three">
                        <div class="weather-icon"><span class="material-symbols-outlined icon-size">partly_cloudy_day</span></div>
                        <div class="weather-day">Tue</div>
                        <div class="weather-degree">29°C</div>
                    </div>
                    <div class="weather-prospects-box-four">
                        <div class="weather-icon"><span class="material-symbols-outlined icon-size">partly_cloudy_day</span></div>
                        <div class="weather-day">Tue</div>
                        <div class="weather-degree">29°C</div>
                    </div>
                </div>
                <div class="search-location">
                    <div class="change-location">
                        <input type="text" placeholder="Search Location">
                    </div>
                </div>
        </div>
    </div>
</div>