<div class="weather-container" [ngClass]="currentWeather">
    <div class="weather-field">
        <div class="weather-box-one">
            <div class="info-container">
                <div class="title">Weather Location</div>
                <div class="date"></div>
                <div class="location-box">
                    <div class="location-icon">
                        <span style="font-size: 35px;" class="material-symbols-outlined">location_on</span></div>
                    <div *ngIf="weatherData" class="location">{{weatherData.name}}</div>
                    <div *ngIf="latitude !== null && longitude !== null">
                        Latitude: {{ latitude }}<br>
                        Longitude: {{ longitude }}
                      </div>
                </div>
               
            </div>
            <div class="content-container">
                <div *ngIf="weatherData" class="weather-icon"><img [src]="setIcon()" alt=""></div>
                <div *ngIf="weatherData" class="weather-degree">{{weatherData.main.temp | number: '1.0-0'}}°C</div>
                <div *ngIf="weatherData" class="weather-info">{{weatherData.weather[0].main}}</div>
            </div>
        </div>
        <div class="weather-box-two">
                <div class="information-container">
                    <div class="information-box">
                        <div class="title">PRECIPITATION</div>
                        <div class="date">HUMIDITY</div>
                        <div class="location">WIND</div>
                        <div class="feels-like">FELLS LIKE</div>
                        <div class="min-temp">MIN. TEMP.</div>
                    </div>
                    <div class="information-box">
                        <div class="title">0%</div>
                        <div *ngIf="weatherData" class="date">{{weatherData.main.humidity}} %</div>
                        <div *ngIf="weatherData" class="location">{{weatherData.wind.speed}} km/h</div>
                        <div *ngIf="weatherData" class="feels-like">{{weatherData.main.feels_like | number: '1.0-0'}}°C</div>
                        <div *ngIf="weatherData" class="feels-like">{{weatherData.main.temp_min | number: '1.0-0'}}°C</div>
                    </div>
                </div>
                <div class="search-location">
                    <div class="change-location">
                        <input type="text" placeholder="Enter city" [(ngModel)]="currentCity" (keypress)="onKeyPress($event)">
                    </div>
                </div>
        </div>
    </div>
</div>