.weather-container {
    position: absolute;
    top: 12%;
    left: 24%;
}
.weather-field {
    display: flex;
    justify-content: center;
}

.weather-box-one {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 40px;
    width: 493px;
    height: 666px;
    opacity: 0.8;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    transition: transform 250ms;
}

.info-container {
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 74%;
    font-size: 40px;
    font-weight: 700;
}

.content-container {
    font-size: 40px;
    font-weight: 700;
}

.location-box {
    display: flex;
    margin-right: 10px;
}

.weather-box-two {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 40px;
    width: 700px;
    height: 500px;
    opacity: 0.8;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    transition: transform 250ms;
}

.information-container {
    font-size: 40px;
    font-weight: 700;
}

button {
    width: 415px;
    height: 53px;
    flex-shrink: 0;
    border-radius: 10px;
    background: linear-gradient(131deg, rgba(144, 217, 224, 0.90) 0%, rgba(84, 96, 230, 0.90) 100%);   
    color: #FFF;
    text-align: right;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;    
    border: none;
    cursor: pointer;
}
