<div class="weather-container">
    <div class="weather-field">
        <div class="weather-box-one">
            <div class="info-container">
                <div class="title">Tuesday</div>
                <div class="date"> 25 July 2023</div>
                <div class="location">Düsseldorf</div>
            </div>
            <div class="content-container">
                <div class="weather-icon">ICON</div>
                <div class="weather-degree">29°C</div>
                <div class="weather-info">Sunny</div>
            </div>
        </div>
        <div class="weather-box-two">
                <div class="information-container">
                    <div class="title">PRECIPITATION</div>
                    <div class="date">HUMIDITY</div>
                    <div class="location">WIND</div>
                </div>
                <div class="weather-prospects">
                    <div class="weather-icon"></div>
                    <div class="weather-degree">29°C</div>
                    <div class="weather-icon"></div>
                    <div class="weather-degree">29°C</div>
                </div>
                <div class="search-location">
                    <div class="change-location">Change Location</div>
                </div>
        </div>
    </div>
</div>